<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Data Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main">
        <h1>Why We Collect Student Data</h1>
        <nav>
            <ul>
                <li><a href="/">Back to main page</a></li>
                <li><a href="/data">Start submitting your data</a></li>
            </ul>
        </nav>
        <p>Every student is unique with different learning styles, strengths, and weaknesses. By collecting student information such as performance data, interests, and learning preferences, educators can tailor teaching methods to individual needs. This facilitates personalized learning experiences, ensuring that each student receives the support they require to excel.</p>
            <br>
            <p>By harnessing the power of student data, educators can create more engaging, effective, and equitable learning experiences for all students.</p>
    </div>
</body>
</html>
